*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    min-height: 100vh;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.country1{
    background: url("kyrgyzstan.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.country2 {
    background: url("flagrussia.png");   
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.country3 {
    background: url("Flag-United-States-of-America.webp");    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ; 
}